body {
    font-family: 'Arvo';

    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
}

/* List */

ul {
    list-style: none;
}

h1 {
  font-size: 5em;
}

.listo {
    background: #B4B4B4;
    color: white;
    width: max;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
    border-radius: 6px;
    flex: auto;
}

.delete {
  float: right;
}

label {
    width: 400px;
}

.completed {
    text-decoration: line-through;
}

/* Form */

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    font-size: 1em;
}

/* Controls */

.controls {
    margin-top: 20px;
}
